:root {
    --size: 10
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
    margin: 2rem auto;
    max-width: 900px;
}

.board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--size), 30px);
    justify-items: center;
    font-weight: bold;
    color: black;
    justify-content: center;
}

.square {
    background-color: orange;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: inset;
    border-bottom: none;
    border-right: none;
    border-color: salmon;
}

p span {
    /* justify-content: center; */
    background-color: blueviolet;
    margin-right: 6px;
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid red;
    display: inline-grid;
    color: #fff
}


/* #header {
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: center;
} */

#header h1 {
    display: inline-block;
    margin-left: 18rem;
    margin-bottom: 2rem;
}


/* #header span {
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
} */

#result {
    text-align: center;
}

#result span {
    font-weight: bold;
    font-size: 1.2rem
}

#timer {
    margin-left: 40px;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: lightgreen;
    padding: 0.5rem 1rem;
    border: 2px solid darkgreen;
    border-radius: 15px;
    margin-bottom: 2rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1rem;
}

form button,
form input[type='button'] {
    margin-left: 5rem;
    padding: 0.5rem 1rem;
    /* font-size: 1rem; */
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    background-color: #333;
    color: #eee;
}